.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 20px;
}

.modal_opened {
  visibility: visible;
  padding: 16px;
}

.modal__container {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/x\ out\ icon\ gray.svg);
  cursor: pointer;
  opacity: 0.4;
  background-color: transparent;
  background-size: 35px 35px;
  border: none;
  padding: 0;
  margin: 0;
}

.modal__close_type_preview {
  top: 0px;
  right: -52.5px;
}

.modal__close-btn:hover {
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  color: rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  cursor: pointer;
  opacity: 40%;
}

.modal__input:hover {
  cursor: pointer;
  opacity: 100%;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: rgba(33, 33, 33, 1);
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.modal__submit-btn:hover {
  opacity: 30%;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  background-color: rgba(33, 33, 33, 1);
  color: white;
  width: fit-content;
}

.modal_add-card-input {
  padding: 16px 12px;
  color: rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  cursor: pointer;
  opacity: 40%;
  
}

.modal_add-card-input:hover {
  
}

.modal_add-card-label {
  background: #fff;
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  border-radius: 8px;
}

@media screen and (max-width: 680px) {
  .modal {
    padding: 0px 10px;
  }

  .modal__container {
    padding: 12px;
    gap: 24px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }
  .modal__submit-btn {
    width: 100%;
    padding: 18px 32px 18px 32px;
    border-radius: 8px;
  }
}

@media screen and (max-width: 680px) {
  .modal__close_type_prewiew {
    top: -48px;
    right: 0px;
  }

  .modal__image {
    max-width: unset;
  }
}
